body {
    font-family: 'Open Sans', sans-serif;
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control {
    background-color: #f2f2f240;
    padding: 22px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: #f2f2f240;
    color: #ffffff;
}

.form-control::placeholder {
    color: #ffffff;
}

.btn {
    border-radius: 1.5rem;
    padding: 10px 30px;
}

.btn:focus {
    box-shadow: none;
}

.search-box {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.single-result {
    background-color: #f2f2f240;
    border-radius: 10px;
}

#alert {
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: auto;
    display: none;
}